body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  height: 120px;
  padding: 20px;
  overflow: hidden;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

.top-bar h1 {
  font-size: 64px;
  font-weight: bold;
  margin: 0;
  color: black;
}

.top-bar .back-button {
  font-size: 32px;
  color: #071108;
  text-decoration: none;
  font-weight: normal;
  cursor: pointer;
}

.top-bar .back-button:hover {
  font-weight: bold;
}

.scrollable-image {
  margin-top: 120px;
  width: 100%;
  overflow-y: auto;
}

.scrollable-image img {
  width: 100%;
  display: block;
}
