body {
	font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
	margin: 0;
	height: 100vh;
	background-color: #071108;
	font-family: Helvetica, Arial, sans-serif;
}

.backgroundImage {
	background-image: url('../img/cat-looking-outside.gif');
	width: 600px;
	height: 600px;
	background-repeat: no-repeat;
	background-position: center;
	margin: 12px auto;
}

.content {
	width: 100%
	margin: 12px auto;
	padding: 0 40px;
	box-sizing: border-box;
	text-align: center;
}

h1 {
	color: #FBDFFF;
	font-size: 64px;
	font-weight: bold;
}

h2 {
	color: #C7DBE6;
	font-size: 24px;
	line-height: 62px;
}

.bottom-bar {
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 40px;
	box-sizing: border-box;
	z-index: 2;
}

.bottom-bar a {
	color: #C7DBE6;
	text-decoration: none;
	font-size: 32px;
}
.bottom-bar a:hover {
	font-weight: bold;
}

.bottom-bar .back {
	ext-align: left;
}

.bottom-bar .select-new-date {
	text-align: center
}

.bottom-bar .next {
	text-align: right;
}

.bottom-bar .next-date {
	text-align: right;
}
