body {
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  height: 100vh;              /* full screen height */
  display: flex;
  justify-content: center;    /* horizontal center */
  align-items: center;        /* vertical center */
  background-color: #071108;
}

.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.content h1 {
  font-size: 64px;
  font-weight: bold;
  margin: 0;
  color: #C7DBE6;
  margin: 0;
  margin-bottom: 30px;
}

.timeline {
  display: flex;
  flex-direction: column;    /* stack buttons vertically */
  gap: 12px;                 /* space between buttons */
  margin-bottom: 30px;
}

.btn1 {
  background-color: #FFEE3F;
  border: none;
  padding: 8px 8px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 8px;
  font-weight: normal;
}

.btn2 {
  background-color: #FBDFFF;
  border: none;
  padding: 8px 8px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 8px;
  font-weight: normal;
}

.return-home {
  font-size: 32px;
  font-weight: normal;
  margin: 0;
  color: #C7DBE6;
  top: 800px;
  left: 20px;   
}

.btn1:hover,
.btn2:hover,
.return-home:hover {
    font-weight: bold;
}

