body {
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  height: 100vh;
  background-color: #071108;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.left-side {
  width: 70%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
}

.crow-walking {
  margin-bottom: 20px;
}

.crow-walking img {
  width: 200px;
  height: 200px;
}

.text-box {
  width: 60%;
  max-height: 225px;
  overflow-y: auto;
  padding: 20px;
  color: #FBDFFF;
  font-size: 24px;
  line-height: 62px;
  margin-bottom: 20px
}

.text-links {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.text-links a {
  color: #C7DBE6;
  text-decoration: none;
  font-size: 32px;
}

.text-links a:hover {
  font-weight: bold;
}

.left-side h1 {
  position: absolute;
  bottom: 40px;
  left: 40px;
  font-size: 64px;
  font-weight: bold;
  color: #FFEE3F;
}

.right-side {
  width: 30%;
  background-color: #C7DBE6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cat-window img {
  width: 328px;
  height: 413px;
}
