body {
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  height: 100vh;
  background-color: #071108;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

/* Left side */
.left-side {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 40px;
  overflow: hidden;
}

.left-side h1 {
  position: absolute;
  font-size: 64px;
  font-weight: bold;
  color: #FFEE3F;
  left: 30px;
  bottom: 100px;
}

.text-box {
  position: relative;
  z-index: 2;
  width: 80%;
  height: 80%;
  padding: 20px;
  overflow-y: auto;
  color: #FBDFFF;
  font-size: 24px;
  line-height: 62px;
  border-radius: 10px;
}

.text-links {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.text-links a {
  color: #C7DBE6;
  text-decoration: none;
  font-size: 32px;
}

.text-links a:hover {
  font-weight: bold;
}

/* Right side */
.right-side {
  width: 30%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  overflow: hidden;
}

.pecans-new-home img {
  width: 328px;
  height: 413px;
  margin: 10px 0;
}
